:root{
    --pink: #e84383;
}



*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background: #fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}


header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}


header .logo span{
    color: var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color:var(--pink);
}

header .icons a{
    font-size: 3rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--pink);

}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;

}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../images/home-bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    

}

.home .content{
    max-width: 50rem;
    
}

.home .content p{
    font-size: 1.4rem;
    color: #333;
    padding: 1rem 0;
    line-height: 1.5;
}
